[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
naccbis = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
codecov = "*"
flake8 = "*"
sphinx = "*"
mypy = "*"
python-language-server = {extras = ["all"],version = "*"}

[packages]
beautifulsoup4 = "*"
pandas = "*"
requests = "*"
django = ">=3.0.7"
python-levenshtein = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
