autopep8==1.4.2
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
Django==2.1.2
future==0.16.0
idna==2.6
jedi==0.13.1
mccabe==0.6.1
numpy==1.15.3
pandas==0.23.4
parso==0.3.1
pluggy==0.8.0
psycopg2==2.7.5
pycodestyle==2.4.0
pydocstyle==3.0.0
pyflakes==2.0.0
python-dateutil==2.7.3
python-jsonrpc-server==0.0.2
python-language-server==0.21.2
python-Levenshtein==0.12.0
pytz==2018.4
requests==2.20.0
rope==0.11.0
six==1.11.0
snowballstemmer==1.2.1
SQLAlchemy==1.2.12
urllib3==1.22
yapf==0.24.0
