autopep8==1.4.2
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
Django==2.1.5
future==0.16.0
idna==2.6
jedi==0.13.2
mccabe==0.6.1
numpy==1.15.3
pandas==0.24.1
parso==0.3.1
pluggy==0.8.0
psycopg2==2.7.7
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.0
python-dateutil==2.7.3
python-jsonrpc-server==0.1.2
python-language-server==0.22.0
python-Levenshtein==0.12.0
pytz==2018.4
requests==2.21.0
rope==0.11.0
six==1.11.0
snowballstemmer==1.2.1
soupsieve==1.7.3
Sphinx==1.8.4
SQLAlchemy==1.2.12
urllib3==1.24.1
yapf==0.24.0
