<html>
<head>
  <title>NACCBIS Leaderboards</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!--
<style>
table, th, td {
border: 1px solid black;
}
</style>
-->
<table class="table table-bordered table-hover table-sm">
  <thead  class="thead-dark">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Team</th>
      <th>Season</th>
      <th><a href="?sort=yr">Yr</a></th>
      <th>Pos</th>
      <th><a href="?sort=pa">PA</a></th>
      <th><a href="?sort=avg">AVG</a></th>
      <th><a href="?sort=obp">OBP</a></th>
      <th><a href="?sort=slg">SLG</a></th>
      <th><a href="?sort=ops">OPS</a></th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td align="center">{{row.no}}</td>
      <td align="center">{{row.name}}</td>
      <td align="center">{{row.team}}</td>
      <td align="center">{{row.season}}</td>
      <td align="center">{{row.yr}}</td>
      <td align="center">{{row.pos}}</td>
      <td align="center">{{row.pa}}</td>
      <td align="center">{{row.avg}}</td>
      <td align="center">{{row.obp}}</td>
      <td align="center">{{row.slg}}</td>
      <td align="center">{{row.ops}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
